  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
   function confirm_logout(){
     if (confirm('Are you sure you want to logout ?'))
       window.location.href = '<%= urls.logout %>';
  } 
  </script>
</body>
</html>
