<%- include('./partials/header'); %>
<% if (message) { %>
<div class="alert alert-warning" role="alert">
  <%= message %>
</div>
<% } %>
<h1 class="mb-4 fw-light text-light">Change Your Password</h1>
<form action="<%= urls.change_password %>" method="post" class="w-50" onsubmit="return confirm('Are you sure you want to change your password?');">
    <input type="password" name="old_password" id="old_password" class="form-control mb-3" placeholder="Current password" minlength="8" maxlength="40" required autofocus oninput="validateForm()">  
    <input type="password" name="new_password" id="new_password" class="form-control mb-3" placeholder="New password" minlength="8" maxlength="40" autofocus required oninput="validateForm()">  
    <input type="password" name="password_repeat" id="password_repeat" class="form-control mb-3" placeholder="Repeat new password" minlength="8" maxlength="40" required autofocus oninput="validateForm()">
    <div id="warn" class="alert alert-danger" role="alert" hidden="true">
    </div>
    <button id="submit" class="btn btn-lg btn-secondary btn-block">Submit</button>
</form>
<script>
function validateForm() {
    var pass = document.getElementById("old_password").value;
    var passnew = document.getElementById("new_password").value;
    var passrep =  document.getElementById("password_repeat").value;
    var warn =  document.getElementById("warn");
    var submitbtn =  document.getElementById("submit");

    // checking password repitition
    if (passnew != passrep) {
        warn.innerHTML = "The new password and password confirmation don't match." 
        warn.removeAttribute("hidden");
        submitbtn.setAttribute("disabled", true);
        return;
    }

    // checking if new and old passwords are the same
    if (passnew == pass) {
        warn.innerHTML = "The new and current passwords are the same." 
        warn.removeAttribute("hidden");
        submitbtn.setAttribute("disabled", true);
        return;
    }

    warn.setAttribute("hidden", true);
    submitbtn.removeAttribute("disabled");
    return;
}
validateForm();
</script>
</div>
<script src="/js/no_go_back.js"></script>

<%- include('./partials/footer'); %>
