<%- include('./partials/header'); %>
<% if (message) { %>
<div class="alert alert-warning" role="alert">
  <%= message %>
</div>
<% } %>
<div class="mt-5 text-light">
  <h1 class="mb-4 fw-light text-center">Login to Meeting Center</h1>
  <form action="<%= urls.login %>" method="post" class="w-50 mx-auto text-center">
    <input type="email" name="email" class="form-control mb-3" placeholder="Email" required autofocus> 
    <input type="password" name="password" class="form-control mb-3" placeholder="Password" required autofocus>  
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
  </form>
</div>
</div>
<script src="/js/no_go_back.js"></script>
<%- include('./partials/footer'); %>
